image: golang:latest

before_script:
  - make deps

stages:
  - build

compiled_varroa_dev:
  stage: build
  script:
    - make build-bin
  artifacts:
    paths:
    - varroa
    - varroa_bash_completion
    - varroa-fuse
    - varroa.user.js
    name: "varroa-dev-${CI_COMMIT_REF_NAME}"
    expire_in: 4 weeks
  except:
    - tags

compiled_varroa_released_version:
  stage: build
  script:
    - make build-bin
  artifacts:
    paths:
      - varroa
      - varroa_bash_completion
      - varroa-fuse
      - varroa.user.js
    name: "varroa-${CI_COMMIT_REF_NAME}"
  only:
    - tags
